<footer>
	<div class="copyright">
    <p>&copy 2017 - Alurith</p>
  </div>
    <div>
    	<h4>Link Utili</h4>
        <ul>
            <li><a href="{{ '/cookie-policy' | prepend: site.baseurl }}">Cookie Policy</a></li>
            <li><a href="{{ '/archive' | prepend: site.baseurl }}">Archivio</a></li>
            <li><a href="{{ '/about' | prepend: site.baseurl }}">Chi sono</a></li>
        </ul>
    </div>
    <div>
    	<h4>About this blog</h4>
    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie est ac euismod volutpat. Phasellus eros dui, gravida in nulla ac, semper auctor leo. Donec lacus dui, rutrum eu ex quis, tincidunt tristique nunc. Curabitur finibus suscipit pretium. Morbi elementum fermentum sem eu molestie. Fusce eget metus facilisis, scelerisque risus at, rutrum felis. Sed dignissim magna et sem sollicitudin gravida ac consectetur ex. Phasellus elit turpis, viverra a porttitor at, feugiat sodales felis.</p>
    </div>
</footer>
