
<nav class="pagination" role="navigation">
  <ul>
    <li class="pagination-item-prev" >
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
            <a rel="prev" href="{{ site.baseurl }}/">&laquo; Nuovi</a>
        {% else %}
        <a rel="prev" href="{{ site.baseurl }}/page-{{paginator.previous_page}}/">&laquo; Nuovi</a>
        {% endif %}
      {% else %}
      <span></span>
    {% endif %}
    </li>


    <li class="pagination-item-next" >
    {% if paginator.next_page %}
      <a rel="next" href="{{ site.baseurl }}/page-{{paginator.next_page}}/">Precendenti &raquo;</a>
      {% else %}
      <span></span>
    {% endif %}
    </li>

  </ul>
</nav>
