---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="google-site-verification" content="b_wQrbB2_ic2k51x60IthKCtKoe8xIx2Zvpg8ErfxHo" />
        {% include main/head.html %}
    </head>

    <body>
        <div class="wrapper" id="blep">
            {% include main/header.html %}

            {{ content }}

            {% include main/footer.html %}
        </div>

        {% include externals/scripting.html %}
        {% include externals/google_analytics.html %}
        {% include externals/cookie_policy.html %}

    </body>
</html>
